$headerColor: #e3e3e3;
$backgroundColor: white;

$color5: #132A13;
$color4: #31572C;
$color3: #4F772D;
$color2: #90A955;
$color1: #D1F0B1;

body{
  color: $color4;
  a{
    color: $color5;
  }
}
.content .view{
  margin: 3%;
}
header .row{
  width: 100%;
  top:0;
  margin:0;
  padding:2px;
  background-color: $color2;
  .col-md-1{
    margin-top: 10px;
  }
  .iconImg{
    height: 45px;
  }
  h2{
    font-family: "Courier New", Courier, monospace;
    margin: 9px;
    display: inline;
  }
}
.content{
  padding: 2%;
}
.menu{
  margin-bottom: 3%;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
body{
  background-color: $color1;
}
.btncolor{
  background-color: $color3;
  border-color: $color4;
}
footer .row{
  margin-top: 3%;
}